<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foursquare Client</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
            crossorigin="anonymous"></script>
    <style>
      .div-top {
        margin-top: 30px;
      }
      .title-link{
        color: #000;
        text-decoration: none;
      }
      .title-link:hover{
        color: #000;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row div-top">
        <h1 class="text-center"><a href="/" class="title-link">
            The Ultimate Foursquare Client</a></h1>
      </div>
      <div class="row div-top">
        <form class="form-inline text-center" method="get" action="/">
          <div class="form-group">
            <input type="text" class="form-control" id="query" value="{{ query }}" 
                   name="query" placeholder="I am looking for ..." required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="near" name="near" 
                   value="{{ near }}" placeholder="Location" required>
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
      <div class="row div-top">
        {% if error %}
          <div class="alert alert-danger">
            <strong>Error!</strong> {{error}}
          </div>
        {% endif %}
        <div class="col-lg-9">
          {% if venues %}
            <h2>Results</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>Checkin Count</th>
                </tr>
              </thead>
              <tbody>
                {% for venue in venues %}
                  <tr>
                    <td>
                      {{ venue.name }}
                    </td>
                    <td>
                      {{ venue.contact.formattedPhone }}
                    </td>
                    <td>
                      {{ venue.stats.checkinsCount }}
                    </td>
                  <tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if venues.has_previous %}
                    <a href="?page={{ venues.previous_page_number }}&query={{query}}&near={{near}}">
                      previous</a>
                    {% endif %}
                    <span class="current">
                      Page {{ venues.number }} of {{ venues.paginator.num_pages }}.
                    </span>
                    {% if venues.has_next %}
                      <a href="?query={{query}}&near={{near}}&page={{ venues.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
          {% endif %}
        </div>
        <div class="col-lg-3">
          {% if latest_searches %}
            <h2>Previous Searches</h2>
            <ul>
              {% for search in latest_searches %}
              <li><a {% if query == search.query and near == search.near %}style="color: red"{% endif %} 
                  href="?query={{search.query}}&near={{search.near}}">
                  {{search.query}} in {{search.near}}
              </a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>
